body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("./images/architecture-brick-wall-bricks-221482.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
}